@model IEnumerable<DataStructure.Contact>

@{
    ViewData["Title"] = "Contacts";
}

<h1>Contact us</h1>
<h6>If you face any problem in the website or if you have any suggestion please inform us with the following contacts: </h6>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Add New Contact</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <p>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </p>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
