@model IEnumerable<DataStructure.Actor>

@{
    ViewData["Title"] = "Famous Actors";
}

<h1>Famous Actors</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Add New Actor</a>
    </p>
}
<form asp-controller="Actors" asp-action="Index">
    <p>
        Search actor by FirstName: <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residence)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <p>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </p>
                    }

                    @if (User.IsInRole("User"))
                    {
                        <p>
                            <a asp-action="Details" asp-route-id="@item.ID"> &#9758;Look For More Details</a>
                        </p>
                    }



                </td>
            </tr>
        }
    </tbody>
</table>
