
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
</head>
<body>
    <h1>@Model.Header</h1>
    <div>
        ID : @Model.Movie.ID
    </div>
    <div>
        Title : @Model.Movie.Title
    </div>
    <div>
        Scenarist : @Model.Movie.Scenarist
    </div>
    <div>
        ReleasedYear : @Model.Movie.ReleasedYear
    </div>
    <div>
        Award : @Model.Movie. Award
    </div>
    <div>
        Discreption : @Model.Movie. Discreption
    </div>
    <div>
        ImageUrl : @Model.Movie. ImageUrl
    </div>
    <h1>Movie Genre</h1>
    <div>
        Type : @Model.Genre.Type
    </div>
</body>
</html>
